/node_modules
/vendor
.DS_Store
*.png
*.jpg
*.zip
/Biohack/
/CESVI-Proyecto/
/LaravelProyectos/
/Portfolio con estilo retro.zip
/README.License
/captura*.png
/hola*.png
/Listooo.png
/nuevo/
/TC2005B/
